- if @books
  .book-new-wrapper
    - @books.each do |book|
      = form_with model: @book, url: books_path, method: :post, local: true do |f|
        .new_book_box.shadow
          .book_detail
            = image_tag book.image, alt: '', height: '120', width: '80', class: ''
          .book_detail
            = book.title
          .book_detail
            = book.author
          .book_detail
            = hidden_field_tag :title, book.title
            = hidden_field_tag :author, book.author
            = hidden_field_tag :isbn, book.isbn
            = hidden_field_tag :publisher, book.publisher
            = hidden_field_tag :image, book.image
            = hidden_field_tag :url, book.url
            = f.submit '本を登録する', class: "btn btn-secondary btn-sm"
        
        
