.show_book_wrapper 
  .show_book_main
    .show_book_box.shadow
      .show_book_box__left
        .book_image
          = image_tag @book.image, alt: '', height: '150', width: '100'
      .show_book_box__right
        .book_titile
          = @book.title
        .book_author
          = @book.author
        .book_publisher
          = @book.publisher
        .book_btn
          = link_to "楽天市場商品ページ",@book.url, class: 'btn btn-info btn-sm'
          = link_to book_path(@book), method: :delete, class: "btn btn-secondary btn-sm", data: { confirm: '削除しますか？' } do
            本棚から削除する
  
  .comment-form
    - if current_user
      = form_with model:[@book, @comment], local: true do |f|
        .form-group
          = f.text_area :text, placeholder: "書籍を読んでコメントを入力しよう", row: "5"
    
       